.HomeButton {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-left: 25px;
  margin-right: auto;
}
.CommunityButton {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: auto;
}

.HomeCat {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.CatText {
    text-align: center;
    padding-top: 30px;
    padding-left: 400px;
    padding-right: 400px;
}