.MyModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacit */
}

.Modal-Content {
  background-color: #fefefe;
  margin: 20% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 440px; /* Could be more or less, depending on screen size */
  height: 390px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.FormDisplay {
  text-align: left;
}

.CatInfo {
  margin-bottom: 15px;
}

.Info {
  width: 400px;
  height: 60px;
  object-fit: cover;
}


.SearchButton {
  display: inline-block;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: auto;
  border: none;
  background-color: #27AE60;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: white;
  font-weight: 600;
  width: 80px;
}

.SubmitButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 7px;
}
.ChooseFileMargin {
  margin-top: 10px;
}